$color-mainPage_1:#fff;
$color-mainPage_2:#333333;
%title-type_1 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
%title-type_2 {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
}
.productItemType {
    overflow: hidden;
    background-color:$color-mainPage_1;
    position: relative;
    margin: 40px 20px;
    padding: 30px 0;
    @extend %title-type_1;
    color:$color-mainPage_2;
    text-align: center;
    min-height: 400px;
    line-height: 1.8;
    .img {
        position: relative;
        img {
            width: 241%;
            z-index: 111;
            left: -70%;
            bottom: -470px;
            position: absolute;
        }
    }
}
.type {
      @extend %title-type_2;
}