.header {
    display: grid;
    grid-template-columns: 0.5fr 8fr 3fr;
    align-items: center;
    margin-bottom: 60px;
}
.nav {
    &-list {
        display: flex;
        font-size: 16px;
        font-weight: 700;
    }
    &-item {
        margin: 0 15px;
        a {
            color:#333333;
        }
    }
}
.menu {
    display:flex;
    justify-content: flex-end;
    align-items:center;
    &-item {
        margin: 0 15px;
        padding-left:30px;
    }
}
.search,.cart,.sign-in {
    background: url(../../assets/img/menu/search.png);
    background-size:18px;
    background-repeat:no-repeat;
    background-position:left;
}