$color-header_1:#333333;
$color-header_2:#fff;
.header {
    display: grid;
    grid-template-columns: 0.5fr 8fr 3fr;
    align-items: center;
    background-color:$color-header_2;
    padding: 20px;
}
.nav {
    &-list {
        display: flex;
        font-size: 16px;
        font-weight: 700;
    }
    &-select {
        display: none;
    }
    &-item {
        margin: 0 15px;
        a {
            color:$color-header_1;
        }
    }
}
.menu {
    display:flex;
    justify-content: flex-end;
    align-items:center;
    &-item {
        margin: 0 15px;
        padding-left:30px;
        width: 50px;
    }
}
.search,.cart,.sign-in {
    background: url(../../assets/img/menu/search.png);
    background-size:18px;
    background-repeat:no-repeat;
    background-position:left;
}
@media (max-width:1000px) {
    .header {
        grid-template-columns: 1fr 1fr;
    }
    .nav-list {
        display: none;
    }
    .nav-select {
        display: block;
    }
    .menu {
        display: none;
    }
}